<div class="education px-4">
    <titleComponent title="Educations"></titleComponent>
    <div class="education-form form" *ngFor="let school of form.controls; let i = index">
        <inputTextComponent type="text" label="School Name" name="schoolName" placeholder="School Name"
            [control]="getControl(school.get('schoolName'))" />
        <inputTextComponent type="text" label="Diploma" name="diplomaName" placeholder="Diploma"
            [control]="getControl(school.get('diploma'))" />
        <inputTextComponent type="date" label="Start Date" name="startDate" [control]="getControl(school.get('startDate'))" />
        <inputTextComponent type="date" label="End Date" name="endDate" [control]="getControl(school.get('endDate'))" />

        <button class="remove-category" type="button" (click)="removeEducation(i)">Remove Education</button>
    </div>
    <div class="w-full flex justify-end items-center">
        <button class="add-category" type="button" (click)="addEducation()">Add Education</button>
    </div>
</div>