<div class="education">
    <h2 class="text-white text-lg md:text-gray-500 mb-1">Education</h2>

    <div class="education-form form">
        <app-input-text type="text" label="School Name" name="schoolName" placeholder="School Name"
            [control]="schoolNameControl" />
        <app-input-text type="text" label="Diploma" name="diplomaName" placeholder="Diploma"
            [control]="diplomaControl" />
        <app-input-text type="date" label="Start Date" name="startDate" [control]="startDateControl" />
        <app-input-text type="date" label="End Date" name="endDate" [control]="endDateControl" />

        <button class="remove-category">Remove Education</button>
    </div>

    <button class="add-category">Add Education</button>
</div>