<div class="languages">
    <h2 class="text-white text-lg md:text-gray-500 mb-1">Languages</h2>

    <div class="form form-three" *ngFor="let language of form.controls; let i = index">
        <app-input-text type="text" label="Language" name="language" placeholder="Language (e.g. Spanish)"
            [control]="getControl(language.get('name'))" />

        <select name="languageLevel" id="languageLevel" [formControl]="getControl(language.get('level'))">
            <option value="BEGINNER">BEGINNER</option>
            <option value="INTERMEDIATE">INTERMEDIATE</option>
            <option value="ADVANCED">ADVANCED</option>
        </select>

        <button class="remove-category" type="button" (click)="removeLanguage(i)">Remove Language</button>
    </div>

    <button class="add-category" type="button" (click)="addLanguage()">Add Language</button>
</div>