<div class="languages px-4">
    <titleComponent title="Languages"></titleComponent>
    <div class="form form-three" *ngFor="let language of form.controls; let i = index">
        <inputTextComponent type="text" label="Language" name="language" placeholder="Language (e.g. Spanish)"
            [control]="getControl(language.get('name'))" />

        <select name="languageLevel" id="languageLevel" [formControl]="getControl(language.get('level'))">
            <option value="BEGINNER">BEGINNER</option>
            <option value="INTERMEDIATE">INTERMEDIATE</option>
            <option value="ADVANCED">ADVANCED</option>
        </select>

        <button class="remove-category" type="button" (click)="removeLanguage(i)">Remove Language</button>
    </div>
    <div class="w-full flex justify-end items-center">
        <button class="add-category" type="button" (click)="addLanguage()">Add Language</button>
    </div>
</div>