<div class="languages">
    <h2 class="text-white text-lg md:text-gray-500 mb-1">Languages</h2>

    <div class="form form-three">
        <app-input-text type="text" label="Language" name="language" placeholder="Language (e.g. Spanish)"
            [control]="languageControl" />

        <select name="languageLevel" id="languageLevel" [formControl]="languageLevelControl">
            <option value="BEGINNER">BEGINNER</option>
            <option value="INTERMEDIATE">INTERMEDIATE</option>
            <option value="ADVANCED">ADVANCED</option>
        </select>

        <button class="remove-category">Remove Language</button>
    </div>

    <button class="add-category">Add Language</button>
</div>