<div class="skills px-4">
    <titleComponent title="Skills"></titleComponent>
    <div class="form form-three" *ngFor="let skill of form.controls; let i = index">
        <inputTextComponent type="text" label="Skill" name="skill" placeholder="Skill (e.g. Java)"
            [control]="getControl(skill.get('name'))" />

            <select class="px-10 py-3 text-sm font-medium mt-3 text-gray-500 rounded-[5px] border border-gray-100 focus:outline-none" name="languageLevel" id="languageLevel" [formControl]="getControl(skill.get('level'))">
                <option value="BEGINNER">BEGINNER</option>
                <option value="INTERMEDIATE">INTERMEDIATE</option>
                <option value="ADVANCED">ADVANCED</option>
            </select>

        <button class="remove-category" type="button" (click)="removeSkill(i)">Remove Skill</button>
    </div>

    <div class="w-full flex justify-end items-center">
        <button class="add-category" type="button" (click)="addSkill()">Add Skill</button>
    </div>
</div>