<div class="w-full flex items-center h-hull">
    <div class="flex-1 flex-col items-center justify-start py-10 h-full">
        <h1 class="w-full text-center text-3xl font-bold leading-10 text-gray-500 mb-5">Lorem ipsum dolor sit amet.</h1>
        <p class="w-full text-lx font-medium leading-7 text-gray-500 text-center mb-5">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores sequi aliquam voluptates nulla minus nam rerum fuga totam quod magnam, consequuntur similique. Aliquam, reprehenderit saepe!
        </p>
        <div class="flex justify-center">
            <a class="px-3 py-2 rounded-[5px] bg-blue-500 text-sm font-medium text-gray-50" routerLink="/">Créer un cv</a>
        </div>
    </div>
    <div class="flex-1 flex items-center justify-center">
        <img src="../../../assets/images/online_resume.svg" class="w-4/5" alt="">
    </div>
</div>
