<div class="leisures px-4">
    <titleComponent title="Leisures"></titleComponent>
    <div class="form form-two" *ngFor="let leisure of form.controls; let i = index">
        <inputTextComponent type="text" name="link" placeholder="Leisure (e.g. Sport)"
            [control]="getControl(leisure)" />
        <button class="remove-category" type="button" (click)="removeLeisure(i)">Remove Leisure</button>
    </div>
    <div class="w-full flex justify-end items-center">
        <button class="add-category" type="button" (click)="addLeisure()">Add Leisure</button>
    </div>
</div>