<div class="awards-honors">
    <h2 class="text-white text-lg md:text-gray-500 mb-1">Awards & Honors</h2>

    <div class="form form-three">
        <app-input-text type="text" label="Name" name="awardHonorName" placeholder="Name"
            [control]="awardHonorNameControl" />
        <app-input-text type="text" label="Year" name="awardHonorYear" placeholder="Year"
            [control]="awardHonorYearControl" />
        <button class="remove-category">Remove Award/Honor</button>
    </div>

    <button class="add-category">Add Award/Honor</button>
</div>