<div class="w-full h-full flex items-center justify-between">
    <p class="text-sm font-medium text-gray-500 flex items-center">
        <span class="text-lg font-bold mr-2">ADA</span> <i>( Atos Digital Academy )</i>
    </p>
    <div class="flex justify-end items-center gap-4">
        <socialIconCircleComponent icon="bxl-facebook" classes="bg-blue-700"></socialIconCircleComponent>
        <socialIconCircleComponent icon="bxl-instagram" classes="bg-purple-800"></socialIconCircleComponent>
        <socialIconCircleComponent icon="bxl-linkedin" classes="bg-blue-500"></socialIconCircleComponent>
    </div>
</div>
