<section class="flex flex-col md:flex-row justify-start items-start p-5 gap-4 min-h-[calc(100vh-7.5rem)] bg-white">
    <div class="w-full md:w-[15%] border rounded-md border-dashed border-gray-500 flex items-center justify-center px-2 bg-gray-50 bg-oppacity-30" [ngStyle]="style">
        <a routerLink="/builder" class="w-full font-medium text-gray-500 flex justify-center gap-3 items-center min-h-full h-full py-5">
            <span class="text-xs">Create new cv</span>
           <svg class="w-5 h-5" fill="currentColor" aria-hidden="true">
              <path d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z" />
            </svg>
        </a>
    </div>
    <div #createcv class="w-full md:w-[15%]">
        <cvCardComponent *ngFor="let resume of resumes" [resume]="resume" (delete)="deleteResumeByid($event)"></cvCardComponent>
    </div>
</section>