<div class="certifications px-4">
    <titleComponent title="Certifications"></titleComponent>
    <div class="form form-three" *ngFor="let certification of form.controls; let i = index">
        <inputTextComponent type="text" label="Name" name="certificateName" placeholder="Name"
            [control]="getControl(certification.get('name'))" />
        <inputTextComponent type="text" label="Year" name="certificateYear" placeholder="Year"
            [control]="getControl(certification.get('year'))" />
        <button class="remove-category" (click)="removeCertification(i)" type="button">Remove Certification</button>
    </div>
    <div class="w-full flex justify-end items-center">
        <button class="add-category" (click)="addCertification()" type="button">Add Certification</button>
    </div>
</div>