<div class="form-container">
    <app-candidate-form></app-candidate-form>

    <app-education-form></app-education-form>

    <app-leisures-form></app-leisures-form>

    <app-certifications-form></app-certifications-form>

    <app-skills-form></app-skills-form>

    <app-references-form></app-references-form>

    <app-languages-form></app-languages-form>

    <app-work-experiences-form></app-work-experiences-form>

    <app-awards-honors-form></app-awards-honors-form>

    <div class="btnsContainer">
        <button>Cancel</button>
        <button>Save</button>
    </div>
</div>