<div class="experiences px-4">
    <titleComponent title="Work Experiences"></titleComponent>
    <div class="form" *ngFor="let work of form.controls; let i = index">
        <inputTextComponent type="text" label="Company" name="workXCompany" placeholder="Company"
            [control]="getControl(work.get('company'))" class="workXCompany" />
        <inputTextComponent type="text" label="Job Title" name="workXJobTitle" placeholder="Job Title"
            [control]="getControl(work.get('jobTitle'))" class="workXJobTitle"/>
        <inputTextComponent type="text" label="Description" name="workXDescription" placeholder="Description"
            [control]="getControl(work.get('jobDescription'))" class="workXDescription"/>
        <inputTextComponent type="date" label="Start Date" name="workXStartDate" [control]="getControl(work.get('startDate'))" class="workXStartDate"/>
        <inputTextComponent type="date" label="End Date" name="workXEndDate" [control]="getControl(work.get('endDate'))" class="workXEndDate"/>

        <button class="remove-category" type="button" (click)="removeWorkExperience(i)">Remove Work Experience</button>
    </div>
    <div class="w-full flex justify-end items-center">
        <button class="add-category" type="button" (click)="addWorkExperience()">Add Work Experience</button>
    </div>
</div>