<div class="experiences">
    <h2 class="text-white text-lg md:text-gray-500 mb-1">Work Experiences</h2>

    <div class="form" *ngFor="let work of form.controls; let i = index">
        <app-input-text type="text" label="Company" name="workXCompany" placeholder="Company"
            [control]="getControl(work.get('company'))" class="workXCompany" />
        <app-input-text type="text" label="Job Title" name="workXJobTitle" placeholder="Job Title"
            [control]="getControl(work.get('jobTitle'))" class="workXJobTitle"/>
        <app-input-text type="text" label="Description" name="workXDescription" placeholder="Description"
            [control]="getControl(work.get('jobDescription'))" class="workXDescription"/>
        <app-input-text type="date" label="Start Date" name="workXStartDate" [control]="getControl(work.get('startDate'))" class="workXStartDate"/>
        <app-input-text type="date" label="End Date" name="workXEndDate" [control]="getControl(work.get('endDate'))" class="workXEndDate"/>

        <button class="remove-category" type="button" (click)="removeWorkExperience(i)">Remove Work Experience</button>
    </div>

    <button class="add-category" type="button" (click)="addWorkExperience()">Add Work Experience</button>
</div>