<div class="references px-4">
    <titleComponent title="References"></titleComponent>
    <div class="form" *ngFor="let ref of form.controls; let i = index">
        <inputTextComponent type="text" label="Full Name" name="refFullName" placeholder="Full Name"
            [control]="getControl(ref.get('fullName'))" />
        <inputTextComponent type="text" label="Phone Number" name="refPhoneNumber" placeholder="Phone Number"
            [control]="getControl(ref.get('phoneNumber'))" />
        <inputTextComponent type="email" name="email" label="Email" name="refEmail" placeholder="Email" [control]="getControl(ref.get('email'))" />
        <inputTextComponent type="text" label="Job Title" name="refJobTitle" placeholder="Job Title"
            [control]="getControl(ref.get('jobTitle'))" />
        <inputTextComponent type="text" label="Company" name="refCompany" placeholder="Company"
            [control]="getControl(ref.get('company'))" />

        <button class="remove-category" id="refRemoveBtn" type="button" (click)="removeReference(i)">Remove Reference</button>
    </div>
    <div class="w-full flex justify-end items-center">
        <button class="add-category" type="button" (click)="addReference()">Add Reference</button>
    </div>
</div>