<div class="references">
    <h2 class="text-white text-lg md:text-gray-500 mb-1">References</h2>

    <div class="form">
        <app-input-text type="text" label="Full Name" name="refFullName" placeholder="Full Name"
            [control]="refFullNameControl" />
        <app-input-text type="text" label="Phone Number" name="refPhoneNumber" placeholder="Phone Number"
            [control]="refPhoneNumberControl" />
        <app-input-text type="email" name="email" label="Email" name="refEmail" placeholder="Email" [control]="refEmailControl" />
        <app-input-text type="text" label="Job Title" name="refJobTitle" placeholder="Job Title"
            [control]="refJobTitleControl" />
        <app-input-text type="text" label="Company" name="refCompany" placeholder="Company"
            [control]="refCompanyControl" />

        <button class="remove-category" id="refRemoveBtn">Remove Reference</button>
    </div>

    <button class="add-category">Add Reference</button>
</div>